.cartitem{
    height: fit-content;
    display:flex;
    max-width:100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 2px;
  
}
.cartitem img{
    height: 80px;
    max-width :22%;
    float:left;
    object-fit:cover;
}

.cartitem span{
   padding-left: 25px;
   margin-top: 30px;

}
.cartitem h5{
    max-width: fit-content;
   font-weight: 500;
   font-size: 19px;
   margin-top:20px;
   margin-left:10px;
   font-weight: bold;
}
.cartitem p b{
    margin-top: 32px;
    margin-left: 20px;
    font-size: 18px;
}
.cartitem p {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 18px;
}
.pricecard{
    background: #eef6fa;
    width: 100%;
    margin-right: 10px;
}
.row h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pricecard h6{
    width: 70%;
}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;	
    gap:0;
    margin: 0;
  }
  

  .box {
       
          color:black;
          height:max-content;
          padding: 1em;
          border:1px solid red;
  }
  table tr td{
    margin: 0;
    max-height: 100px;
   
  }
  table tr td h5{
    margin: 15px;

  }
  table tr td p{
    text-align: right;
  }
  .hr{
    height: 2px;
    width: 100%;
    border-radius:10px;
  }
  .progress1{
    max-width: 50%;
  
    background-color: #F0F0F0;
    border-radius:5px;
    overflow: hidden;
  margin-top:50px;

    padding:0;

  }
  .progress{
    height: 25px;
   border-radius: 10px;
   overflow-x: hidden;
    transition: 3s linear;
    color:white;
    text-align: center;
    border-radius:5px;
    
  }

  .progress-text p:first-child{
    text-transform: capitalize;
    margin-left:24%;
    text-wrap: wrap;
  }
  .progress-text p:last-child{
    text-transform: capitalize;
    margin-left:13%;
    text-wrap: wrap;
  }
  .cartbutton{
    width:fit-content;
    background:transparent;
  }
  .cartbutton button{
    max-width:50px;
    max-height: 35px;
    background-color: rgb(217, 217, 217);
    color: black;
    margin-top: 25px;
     margin-left: 20px;
  }
  .cartbutton span{
    margin: 0%;
  }
  .cart-parent{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }