.parent{
    display: flex;
    justify-content: space-between;

}
.child{
    width: 100%;
    margin:10px;
    background-color:transparent;
    animation: animate 4s ease;
    
}

.imageparent{
    height: 100px;
    max-height: auto;
    width: inherit;
    display: flex;
    object-fit:contain;
    justify-content:space-between;
}
.imagechild{
    border-radius: 5px;
    border: 1px solid gray;
    background: transparent;
    margin:1px;
    cursor: pointer;  
    image-resolution:inherit;
}
.imagechild img{
    object-fit:fill;
    background: transparent;
    width: 100%;
    margin: auto;
   
}
.imagechild:active{
    border: 1px solid blue;
}
p{
    font-family: sans-serif;
}
.love{
    height: 20px;
    width: 40px;
    float: right;
    animation: 5s ease-in-out;
}
.relatedproductparent{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
}
a{
    text-decoration: none;
color: inherit;
}
.relatedproductchild img{
    width:30%;
    object-fit:contain;
    aspect-ratio: 3/2;
}
.reviewparent{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.review{
    margin: 5px;
    padding: 10px;
}
.review-img{
    width: 5%;
    margin-left: 5%;
}